/* -------------------------------------------------------------------------- */


/*                                   General                                  */


/* -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: black!important;
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    font-weight: bold;
}


/* -------------------------------------------------------------------------- */


/*                                   Navbar                                  */


/* -------------------------------------------------------------------------- */

#inputBuscar {
    width: 500px;
}

.nav-link {
    color: rgb(172, 169, 169)!important;
    font-weight: bold;
}

.nav-link:hover {
    color: #fff!important;
}


/* -------------------------------------------------------------------------- */


/*                                    Cards                                   */


/* -------------------------------------------------------------------------- */

.card {
    height: 550px;
}

.card-img-top {
    height: 400px;
    object-fit: fill;
}

.cardContenedor {
    position: relative;
    transition: transform 0.2s;
}

.cardContenedor:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.cardContenedor:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 18px;
    padding: 60px 0px;
    text-align: center;
}